<link rel="stylesheet" href="/css/nav.css">
<script src="/js/nav.js"></script>
</head>

<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="main-header__item-link" href="/admin/account">
          <i class="fa-solid fa-user"></i>
          All Account
        </a>
      </li>
    
      <li class="main-header__item">
        <a class="main-header__item-link" href="/admin/classroom">
          <i class="fa-solid fa-house"></i>
          All Classroom
        </a>
      </li>
    </ul>

    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="main-header__item-link <%= path === 'auth/signup' ? 'active' : '' %>" href="/auth/signup">
          <i class="fa-solid fa-user-plus"></i>
          SignUp
        </a>
      </li>

      <li class="main-header__item">
        <form action="/auth/logout" method="post">
          <button type="submit">
            <i class="fa-solid fa-power-off"></i>
            SignOut
          </button>
        </form>
      </li>
    </ul>
  </nav>