.body {
  margin-top: 5rem;
}

.table-button__add {
  background-color: #212529;
  color: #fff;
  justify-content: space-between;
  width: 7rem;
  border-color: #7f868d;
  border-radius: 30px;
  margin-bottom: 1rem;
  padding: 10px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.table-button__add:hover {
  position: relative;
  background-color: #3d4144;
  border-color: #c9d2da;
  outline: unset;
  top: -2px;
}

.table-button__add:active {
  position: relative;
  background-color: #0c0b0b;
  border-color: #5c6267;
  outline: unset;
  top: -1px;
}

.table-button__delete {
  background-color: #dc3545;
  color: #fff;
  justify-content: space-between;
  border-color: #7f868d;
  border-radius: 30px;
  margin-bottom: 0.25rem 0.5rem;
  padding: 5px 10px;
  box-sizing: border-box;
}

.table-button__delete:hover {
  position: relative;
  background-color: #de4655;
  border-color: #c9d2da;
  outline: unset;
  top: -2px;
}

.table-button__delete:active {
  position: relative;
  background-color: #c2313f;
  border-color: #5c6267;
  outline: unset;
  top: -1px;
}