<%- include('../../includes/head.ejs') %>
  <style>
    body{
      background-color: #f9f7f4;
    }
  </style>
</head>

<%- include('../../includes/adminNav.ejs') %>

<main>
  <div class="container">
    <br>
    <br>
    <h1 class="display-4">Edit Account</h1>
    <br>

    <form action="/admin/account/update" method="post">
      <% account = data.account; %>

      <%- include('./feild.ejs') %>

      <button type="submit" class="btn btn-dark disabled">
        <i class="bi bi-pencil-square"></i>
        Edit
      </button>
    </form>
  </div>
</main>
<%- include('../../includes/end.ejs') %>